

.otppwloginnewuser {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 667px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.otppwloginnewuser .u77e9u5f62 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 233px;
  height              : 1px;
  width               : 311px;
  position            : absolute;
  margin              : 0;
  left                : 32px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.otppwloginnewuser .u77e9u5f621 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 258px;
  height              : 44px;
  width               : 311px;
  position            : absolute;
  margin              : 0;
  left                : 32px;
  border-radius       : 22px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.otppwloginnewuser .u767bu5165 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 268px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 170px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangHK-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 0.68);
  text-align          : left;
  line-height         : 25.0px;
}
.otppwloginnewuser .u77edu4fe1u9a57u8b49u78bcu767bu5165 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 329px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 32px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangHK-Regular", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 0.68);
  text-align          : left;
  line-height         : 20.0px;
}
.otppwloginnewuser .u5fd8u8a18u5bc6u78bc {
  background-color    : rgba(255,255,255,0.0);
  top                 : 329px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 287px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangHK-Regular", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 0.68);
  text-align          : left;
  line-height         : 20.0px;
}
.otppwloginnewuser .u7528u6236u8a3bu518a {
  background-color    : rgba(255,255,255,0.0);
  top                 : 597px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 160px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangHK-Regular", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 0.68);
  text-align          : left;
  line-height         : 20.0px;
}
.otppwloginnewuser .u8acbu8f38u5165u5bc6u78bc {
  background-color    : rgba(255,255,255,0.0);
  top                 : 201px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 32px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangHK-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 0.18);
  text-align          : left;
  line-height         : 25.0px;
}
.otppwloginnewuser .u77e9u5f622 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 185px;
  height              : 1px;
  width               : 311px;
  position            : absolute;
  margin              : 0;
  left                : 32px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.otppwloginnewuser .u8acbu8f38u5165u624bu6a5fu865f {
  background-color    : rgba(255,255,255,0.0);
  top                 : 153px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 32px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangHK-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 0.18);
  text-align          : left;
  line-height         : 25.0px;
}
.otppwloginnewuser .u4e2den {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 326px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangHK-Regular", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(0, 0, 0, 0.48);
  text-align          : left;
  line-height         : 17.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}